.pdf-viewer-container {
  position: relative;
  overflow: auto;
  height: 100%;
}

.full-view {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.min-view {
  height: 500px;
  width: 300px;
}

.pdf-viewer-canvas {
  display: block;
  margin: 0 auto;
}

.pdf-controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1001;
}

.toggle-view-btn {
  margin-left: 10px;
}
